.about-us {
  padding: 13px 38px 0 29px;
}

.about-us__head {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 25px;
  padding-bottom: 12px;
  font-weight: bold;
  line-height: 1.2;
  color: black;
  margin: 0;
}

.about-us__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.about-us__item {
  margin-top: 74px;
  padding-right: 70px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.18;
  color: black;

  &::before {
    position: absolute;
    background-repeat: no-repeat;
    background-position: 0;
    bottom: 57px;
    content: "";
  }
}

.about-us__item--flower {
  position: relative;

  &::before {
    top: -55px;
    left: 10px;
    width: 175px;
    height: 37px;
    background-image: url("../img/icon-feature-flower.svg");
  }
}

.about-us__item--money {
  position: relative;
  padding-right: 30px;
  margin-top: 84px;

  &::before {
    left: 2px;
    bottom: 61px;
    width: 200px;
    height: 38px;
    background-image: url("../img/icon-feature-money.svg");
  }
}

.about-us__item--heart {
  position: relative;
  padding-right: 50px;
  margin-top: 83px;

  &::before {
    left: 10px;
    top: -55px;
    width: 181px;
    height: 38px;
    background-image: url("../img/icon-feature-heart.svg");
  }
}

.about-us__item--ball {
  position: relative;
  padding-right: 10px;
  margin-top: 81px;

  &::before {
    left: 4px;
    bottom: 55px;
    width: 211px;
    height: 37px;
    background-image: url("../img/icon-feature-ball.svg");
  }
}

.about-us__item--rocket {
  position: relative;
  padding-right: 0;
  margin-top: 84px;

  &::before {
    left: -5px;
    bottom: 59px;
    width: 251px;
    height: 37px;
    background-image: url("../img/icon-feature-rocket.svg");
  }
}

.about-us__item--gift {
  position: relative;
  padding-right: 10px;
  margin-top: 84px;

  &::before {
    left: 4px;
    bottom: 59px;
    width: 198px;
    height: 37px;
    background-image: url("../img/icon-feature-gift.svg");
  }
}

@media (min-width: @tablet-width) {
  .about-us {
    padding: 13px 45px 78px;
  }

  .about-us__head {
    font-size: 43px;
  }

  .about-us__list {
    height: auto;
    display: flex;
    padding: 0;
    flex-direction: column;
    width: 334px;
    flex-wrap: wrap;
  }

  .about-us__item {
    font-size: 20px;
    width: 50%;
    box-sizing: border-box;
    min-height: 65px;
  }

  .about-us__item--flower {
    padding-right: 100px;
    padding-left: 4px;
    margin-top: 90px;

    &::before {
      top: -54px;
      left: 14px;
    }
  }

  .about-us__item--money {
    padding-right: 80px;
    margin-top: 109px;
    padding-left: 5px;

    &::before {
      left: 6px;
      bottom: 67px;
    }
  }

  .about-us__item--heart {
    padding-right: 90px;
    margin-top: 109px;
    padding-left: 5px;

    &::before {
      left: 13px;
      top: -53px;
    }
  }

  .about-us__item--ball {
    padding-right: 80px;
    margin-top: 90px;
    padding-left: 5px;

    &::before {
      left: 8px;
      bottom: 60px;
    }
  }

  .about-us__item--rocket {
    padding-right: 0;
    margin-top: 109px;
    padding-left: 5px;

    &::before {
      left: 0;
      bottom: 66px;
    }
  }

  .about-us__item--gift {
    padding-right: 60px;
    margin-top: 109px;
    padding-left: 5px;

    &::before {
      left: 9px;
      bottom: 63px;
    }
  }
}

@media (min-width: @desktop-width) {
  .about-us {
    padding: 52px 270px 89px 220px;
    width: 350;
    box-sizing: border-box;
  }

  .about-us__head {
    font-size: 53px;
  }

  .about-us__list {
    width: 700px;
    height: auto;
    flex-direction: inherit;
    align-items: flex-start;
  }

  .about-us__item {
    line-height: 1.1;
    width: 350px;
    min-height: 65px;
    box-sizing: border-box;

    &::before {
      top: -55px;
    }
  }

  .about-us__item--flower {
    padding-right: 120px;
    margin-top: 89px;
  }

  .about-us__item--money {
    padding-right: 90px;
    margin-top: 110px;

    &::before {
      bottom: 64px;
    }
  }

  .about-us__item--heart {
    padding-right: 110px;
    margin-top: 112px;
  }

  .about-us__item--ball {
    margin-top: 89px;
  }

  .about-us__item--rocket {
    margin-top: 110px;

    &::before {
      bottom: 64px;
    }
  }

  .about-us__item--gift {
    margin-top: 111px;

    &::before {
      left: 8px;
    }
  }

  .about-us__list {
    display: flex;
    padding: 0;
    flex-direction: column;
    height: 450px;
    width: 350px;
  }
}
