.about-us{
}
.about-us__list{
  list-style: none;
}
.about-us__item{
  list-style: none;
  font-family: OpenSans;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.18;
  letter-spacing: normal;
  text-align: left;
  color: black;
}
.about-us__head{
  width: 185px;
  height: 24px;
  font-family: OpenSans;
  font-size: 25px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: black;
}
.ball{
  width: 211px;
  height: 37px;
  background-image: url(../img/icon-feature-ball.svg);
  background-repeat: no-repeat;
  background-position: 0;
}
.flower{
  width: 175px;
  height: 37px;
  background-image: url(../img/icon-feature-flower.svg);
  background-repeat: no-repeat;
  background-position: 0;
}
.gift{
  width: 198px;
  height: 37px;
  background-image: url(../img/icon-feature-gift.svg);
  background-repeat: no-repeat;
  background-position: 0;
}
.heart{
  width: 181px;
  height: 38px;
  background-image: url(../img/icon-feature-heart.svg);
  background-repeat: no-repeat;
  background-position: 0;
}
.money{
  width: 200px;
  height: 38px;
  background-image: url(../img/icon-feature-money.svg);
  background-repeat: no-repeat;
  background-position: 0;
}
.rocket{
  width: 251px;
  height: 37px;
  background-image: url(../img/icon-feature-rocket.svg);
  background-repeat: no-repeat;
  background-position: 0;
}