.cat-list {
  list-style: none;
  padding: 0;
  position: relative;
  margin-bottom: 0;
  z-index: 0;
}

.cat-list__item {
  position: relative;
}

.cat-list__item:nth-child(1) {
  background-color: #63d1bb;
  margin-top: -72px;
}

.cat-list__item:nth-child(2) {
  background-color: #56c3b2;
}

.cat-list__item:hover:nth-child(1),
.cat-list__item:focus:nth-child(1) {
  padding-bottom: 5px;
  margin-top: -77px;
}

// .cat-list__item-text + .cat-list__item:active {
//   opacity: 0.3;
// }

.cat-list__item-text--lamp:active::before,
.cat-list__item-text--lego:active::before,
.cat-list__item:active span {
  opacity: 0.3;
}

.cat-list__item:hover:nth-child(2),
.cat-list__item:focus:nth-child(2) {
  padding-bottom: 5px;
  margin-top: -5px;
}

// .cat-list__item-text + .cat-list__item:active:nth-child(2) {
//   opacity: 0.3;
// }

.cat-list__item-text {
  display: block;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 19px;
  font-weight: bold;
  line-height: 1.26;
  text-align: left;
  color: white;
  text-decoration: none;
}

.cat-list__item-text--lamp {
  position: relative;
  padding: 27px 187px 28px 29px;

  &::before {
    content: "";
    position: absolute;
    left: 245px;
    top: 24px;
    opacity: 0.5;
    background-image: url("../img/icon-interior.svg");
    background-repeat: no-repeat;
    background-position: 0;
    width: 40px;
    height: 60px;
    object-fit: contain;
  }
}

.cat-list__item-text--lego {
  position: relative;
  padding: 30px 210px 28px 29px;

  &::before {
    content: "";
    position: absolute;
    left: 235px;
    top: 22px;
    opacity: 0.5;
    background-image: url("../img/icon-toy.svg");
    background-repeat: no-repeat;
    background-position: 0;
    width: 60px;
    height: 60px;
    object-fit: contain;
  }
}

.underline {
  display: none;
}

@media (min-width: @tablet-width) {
  .cat-list {
    display: flex;
    padding: 0 52px;
  }

  .cat-list__item:nth-child(1) {
    margin-top: -100px;
  }

  .cat-list__item:nth-child(2) {
    margin-top: -100px;
  }

  .cat-list__item:hover:nth-child(1),
  .cat-list__item:focus:nth-child(1),
  .cat-list__item:hover:nth-child(2),
  .cat-list__item:focus:nth-child(2) {
    padding-bottom: 5px;
    margin-top: -105px;
  }

  .cat-list__item-text {
    font-size: 20px;
    line-height: 1.4;
  }

  .cat-list__item-text--lamp {
    position: relative;
    padding: 29px 187px 38px 34px;

    &::before {
      left: 255px;
      top: 30px;
    }
  }

  .cat-list__item-text--lego {
    position: relative;
    padding: 29px 204px 38px 36px;

    &::before {
      left: 239px;
      top: 30px;
    }
  }

  .underline {
    display: block;
    height: 34px;
    position: relative;
    top: 10px;
    z-index: 5000;
    background-size: 100%;
    fill: white;
    width: 100%;
    margin-top: -30px;
    margin-left: 2px;
  }
}

@media (min-width: @desktop-width) {
  .cat-list {
    margin-top: -28px;
  }

  .underline {
    display: block;
    height: 34px;
    position: relative;
    top: 10px;
    z-index: 5000;
    background-size: 100%;
    fill: white;
    margin-top: -30px;
    margin-left: 20px;
  }

  .cat-list__item-text--lamp {
    padding: 30px 377px 38px 35px;
    &::before {
      left: 412px;
    }
  }

  .cat-list__item:hover:nth-child(1),
  .cat-list__item:focus:nth-child(1),
  .cat-list__item:hover:nth-child(2),
  .cat-list__item:focus:nth-child(2) {
    padding-bottom: 5px;
  }

  .cat-list__item-text--lego {
    padding: 30px 395px 38px 36px;

    &::before {
      left: 394px;
    }
  }
}
