.cat-list {
  list-style: none;
  padding: 0;
  position: relative;
  margin-top: -75px;
  margin-bottom: 0;
}

.cat-list__item {
  position: relative;
}

.cat-list__item:nth-child(1) {
  background-color: #63d1bb;
  padding: 30px 185px 30px 29px;
}

.cat-list__item:nth-child(2) {
  background-color: #56c3b2;
  padding: 30px 202px 30px 29px;
}

.cat-list__item-text {
  display: block;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 19px;
  font-weight: bold;
  line-height: 1.26;
  color: white;
  text-decoration: none;
}

.cat-list__item-text--lamp {
  position: relative;
}

.cat-list__item-text--lamp::before {
  content: "";
  position: absolute;
  left: 215px;
  top: -7px;
  opacity: 0.5;
  background-image: url("../img/icon-interior.svg");
  background-repeat: no-repeat;
  background-position: 0;
  width: 40px;
  height: 62px;
  object-fit: contain;
}

.cat-list__item-text--lego {
  position: relative;
}

.cat-list__item-text--lego::before {
  content: "";
  position: absolute;
  left: 215px;
  top: -7px;
  opacity: 0.5;
  background-image: url("../img/icon-toy.svg");
  background-repeat: no-repeat;
  background-position: 0;
  width: 60px;
  height: 60px;
  object-fit: contain;
}

@media (min-width: @tablet-width) {
  .cat-list {
    display: flex;
    margin-left: 52px;
    margin-right: 52px;
  }

  .cat-list__item {
    width: 334px;
    height: 119px;
  }
}

@media (min-width: @desktop-width) {
  .cat-list__item {
    width: 525px;
  }
}
