.contacts {
  padding: 32px 0 0 28px;
}

.contacts__head {
  margin: 0;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.67;
  color: black;
}

.contacts__table {
  position: relative;
  margin: 0;
  padding: 25px 30px 0 0;
}

.contacts__item {
  display: flex;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 2;
  color: #444444;
  list-style: none;
}

.contacts__item-width {
  flex-shrink: 0;
}

.contacts__item-address {
  padding: 0 0 0 32px;
  margin-bottom: 30px;
  width: 145px;
}

.contacts__item-address--link {
  text-decoration: none;
  font-family: "OpenSans", "Arial", sans-serif;
  color: #444444;
  font-size: 15px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    bottom: 0;
    width: 200px;
    height: 1px;
    background-color: #46c1ae;
  }
}

.contacts__item-address--link:hover,
.contacts__item-address--link:focus {
  color: #46c1ae;
}

.contacts__item-address--link:active {
  color: rgba(70, 193, 174, 0.3);

  &::before {
    opacity: 0.3;
  }
}

.contacts__map {
  margin: 10px 0 0 -30px;
  position: relative;
}

.contacts__map-adaptive {
  width: 322px;
  height: 457px;
}

.real-map {
  position: absolute;
  top: 0;
}

.contacts__feedback {
  margin-top: 31px;
  width: 257px;
  margin-left: 2px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.11;
  text-align: center;
  color: #444444;
}

@media (min-width: @tablet-width) {
  .contacts {
    padding: 49px 0 18px;
  }

  .contacts__head {
    font-size: 43px;
    padding-left: 46px;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      top: -5px;
      left: 667px;
      width: 47px;
      height: 81px;
      background-image: url("../img/icon-flag.svg");
      background-repeat: no-repeat;
      background-position: 0;
    }
  }

  .contacts__table {
    display: flex;
    justify-content: space-between;
    padding: 38px 110px 29px 48px;
    position: relative;
  }

  .contacts__item {
    font-size: 17px;
    line-height: 1.76;
  }

  .contacts__item-address {
    padding: 0 0 0 26px;
    width: 194px;
  }

  .contacts__item-address--link {
    height: 30px;
    font-size: 17px;
  }

  .contacts__map {
    width: 100%;
    margin: 0;
    position: relative;
  }

  .contacts__map-adaptive {
    width: 100%;
    height: 457px;
  }

  .real-map {
    position: absolute;
    width: 768px;
    height: 457px;
    left: -50px;
    top: 0;
  }

  .contacts__feedback {
    margin: 50px auto 0;
    width: 228px;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 86px 50px 66px 220px;
  }

  .contacts__container {
    display: block;
    width: 297px;
    margin-right: 55px;
  }

  .contacts__head {
    padding-left: 0;
    padding-top: 55px;
    font-size: 53px;
    margin-top: 0;

    &::before {
      top: 62px;
      left: -107px;
    }
  }

  .contacts__table {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 34px 0 0 5px;
    width: 350px;
    position: relative;
  }

  .contacts__item {
    padding-bottom: 0;
  }

  .contacts__item-address {
    padding: 0 0 0 23px;
    width: 250px;
  }

  .contacts__map {
    width: 525px;
    height: 257px;
  }

  .contacts__map-adaptive {
    width: 110%;
  }

  .contacts__feedback {
    margin: 52px 0 0 5px;
    width: 225px;
  }
}
