.contacts {
  color: black;
}

.contacts-text {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #444444;
}

.contacts__table {
  color: black;
}

.contacts__table-right {
  padding-left: 32px;
  width: 178px;
  height: 83px;
}

.contacts__table-left {
  padding-left: 29px;
  width: 46px;
  height: 38px;
}

.contacts__map {
  width: 322px;
  height: 457px;
}

.real-map {
  margin-top: -437px;
}

.contacts__head {
  padding-left: 29px;
  width: 91px;
  height: 14px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: black;
}

.contacts__feedback {
  margin-top: 29px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.11;
  letter-spacing: normal;
  text-align: center;
  color: #444444;
}

@media (min-width: @tablet-width) {
  .contacts__head {
    width: 214px;
    height: 32px;
    font-size: 43px;
    margin-top: 300px;
  }

  .contacts__table {
    height: 77px;
    display: flex;
    flex-wrap: wrap;
  }

  .contacts__map {
    width: 768px;
  }

  .real-map {
    margin-top: -437px;
    width: 768px;
  }
}

@media (min-width: @desktop-width) {
  .contacts__head {
    width: 214px;
    height: 32px;
    font-size: 43px;
    margin-top: 0;
  }

  .contacts__container {
    display: block;
    width: 525px;
  }

  .contacts {
    display: flex;
    flex-wrap: wrap;
    margin-top: 300px;
  }

  .contacts__map {
    width: 525px;
  }

  .contacts__feedback {
    margin-top: -50px;
  }
}
