.contacts {
  padding: 95px 0 0 30px;
}

.contacts__head {
  margin: 0;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.67;
  color: black;
}

.contacts__table {
  position: relative;
  margin: 0;
  padding: 37px 35px 0 0;
}

.contacts__item {
  display: flex;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 2;
  color: #444444;
  list-style: none;
}

.contacts__item-width {
  width: 50px;
}

.contacts__item-address {
  padding: 0 0 32px 67px;
  width: 175px;
}

.contacts__map {
  margin: 10px 0 0 -30px;
  width: 322px;
  height: 457px;
}

.real-map {
  margin-top: -457px;
}

.contacts__feedback {
  margin-top: 29px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.11;
  text-align: center;
  color: #444444;
}

@media (min-width: @tablet-width) {
  .contacts__head {
    width: 214px;
    height: 32px;
    font-size: 43px;
    margin-top: 300px;
  }

  .contacts__table {
    height: 77px;
    display: flex;
    flex-wrap: wrap;
  }

  .contacts__map {
    width: 768px;
  }

  .real-map {
    margin-top: -437px;
    width: 768px;
  }
}

@media (min-width: @desktop-width) {
  .contacts__head {
    width: 214px;
    height: 32px;
    font-size: 43px;
    margin-top: 0;
  }

  .contacts__container {
    display: block;
    width: 525px;
  }

  .contacts {
    display: flex;
    flex-wrap: wrap;
    margin-top: 300px;
  }

  .contacts__map {
    width: 525px;
  }

  .contacts__feedback {
    margin-top: -50px;
  }
}
