img {
  max-width: 100%;
  height: auto;
}

body {
  width: 320px;
  margin: auto;
  background-color: white;
}

.button {
  display: flex;
  width: 254px;
  height: 48px;
  border: solid 2px #444444;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.button:hover,
.button:focus {
  background-color: #444444;
  color: white;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.zigzag {
  margin-left: -32px;
  height: 6px;
  width: 100%;
  background-size: 100%;
  padding: 45px 0 0 0;
}

@media (min-width: @tablet-width) {
  body {
    width: 768px;
  }

  .zigzag {
    height: 15px;
    margin-left: -52px;
    width: 768px;
  }
}

@media (min-width: @desktop-width) {
  body {
    width: 1150px;
  }

  .zigzag {
    width: 1050px;
    height: 23px;
    margin-left: -175px;
    margin-top: 30px;
  }
}
