img {
  max-width: 100%;
  height: auto;
}

body {
  width: 320px;
  height: 3932px;
  margin: auto;
  background-color: white;
}

.button {
  display: flex;
  width: 259px;
  height: 52px;
  border: solid 2px #444444;
  justify-content: center;
  align-items: center;
}
