.made-by{
}
.made-by__text{
  font-family: OpenSans;
  font-size: 19px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.95;
  letter-spacing: normal;
  text-align: left;
  color: black;
}
.made-by_HTML-Academy{
  background-image: url(../../img/logo-htmlacademy.svg);
  background-repeat: no-repeat;
  background-position: 0;
  text-decoration: none;
}