.main-nav{
  padding-left: 269px;
  padding-right: 32px;
  padding-top: 32px;
  padding-bottom: 33px;
  position: relative;

}
.main-nav__list{
  list-style: none;
  position: absolute;
  bottom: 88px;
  left: 0px;
  background-image: url(../img/icon-menu-open.svg);
  width: 20px;
  height: 14px;
  padding: 0;
  margin: 0;
}