.order {
  color: black;
}

.order-form {
  list-style: none;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0;
}

.order-form__item {
  color: black;
}

.order-form__item-head {
  width: 36px;
  height: 12px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.94;
  letter-spacing: normal;
  text-align: left;
  color: #63d1bb;
}

.order__text {
  display: block;
  margin-top: 35px;
  margin-bottom: 25px;
  width: 154px;
  height: 35px;
  padding-left: 62px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.06;
  letter-spacing: normal;
  text-align: left;
  color: black;
}

.radio-round,
.box-round{
  position: relative;
}

.order__text::before{
  left: -3px;
  bottom: 8px;
  position: absolute;
  width: 36px;
  height: 36px;
  border: solid 2px #444444;
}

.radio-round::before{
  content: "";
  border-radius: 50%;
}

.box-round::before{
  content: "";
}

.order__text::after{
  display: none;
  position: absolute;
  content: "";

}

.radio-round::after{
  width: 16px;
  height: 16px;
  left: 8px;
  top: 12px;
  border-radius: 50%;
  background-color: #62d1ba;
}

.box-round::after{
  width: 22px;
  height: 22px;
  left: 5px;
  top: 3px;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
}

.order__text--no-mar{
  display: block;
  margin-top: 24px;
  margin-bottom: 0px;
  margin-left: 0;
  padding: 0;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.06;
  letter-spacing: normal;
  text-align: left;
  color: black;
}

.order__text-light {
  width: 260px;
  height: 52px;
  box-shadow: inset 0px -2px 0 0 black;
  opacity: 0.3;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 1.06;
  text-align: left;
  color: rgba(68, 68, 68, 0.3);
  border: none;
}

.add-table{
  width: 260px;
  height: 142px;
  box-shadow: none;
  border: solid 2px #444444;
  background-color: white;
  opacity: 1;
}

.order-form__button{
  margin-top: 31px;
  margin-left: 30px;
  margin-bottom: 55px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 0.94;
  text-align: center;
  color: #444444;
}

@media (min-width: @tablet-width) {
  .order-form__item{
    display: flex;
  }

  .order-form__content {
    display: flex;
  }

  .order-form__content--column {
    flex-direction: column;
  }

  .order-form__content--wraper {
    flex-wrap: wrap;
  }
}

@media (min-width: @desktop-width) {
  .order-form__content--wraper {
    width: 800px;
  }

  .order-form__item-head {
    margin-left: 114px;
    margin-right: 76px;
  }

  .order__text-light {
    width: 626px;
  }

  .order-form__feedback-container{
    display: flex;
    flex-direction: row-reverse;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
  }
}