.order {
  padding: 0 30px 16px;
}

.order-form {
  list-style: none;
  margin: 0;
  padding: 0;
}

.order-form__item {
  position: relative;
}

.order-form__item-head {
  flex-shrink: 0;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 0.94;
  color: #63d1bb;
  margin: 0;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    height: 1px;
    width: 200px;
    left: 63px;
    top: 5px;
    background-color: #63d1bb;
  }
}

.order-form__content {
  display: flex;
  flex-direction: column;
}

.order-form__content--type {
  padding: 38px 44px 45px 0;
  height: 100px;
  justify-content: space-between;
}

.order-form__content--color {
  padding: 23px 0 34px 0;
  height: 344px;
  justify-content: space-between;
}

.order__text-light--top-position {
  margin: 1px 0 34px 0;
  padding: 0;
}

.order__text-light--position {
  margin: 1px 0 34px 0;
  padding: 0;
}

.order__text {
  padding: 0;
  margin: 0;
  display: block;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.06;
  color: black;

  &::before {
    left: -3px;
    position: absolute;
    width: 36px;
    height: 36px;
    border: solid 2px #444444;
  }

  &::after {
    display: none;
    position: absolute;
    content: "";
  }
}

.order__text::before:hover,
.order__text::before:focus {
  border: solid 2px #62d1ba;
}

.order__text::before:active {
  opacity: 0.3;
}

.order-form__round:checked + .order__text--radio-round {
  &::after {
    display: block;
  }
}

.order__text--radio-round {
  position: relative;
  padding-left: 62px;

  &::before {
    content: "";
    border-radius: 50%;
  }

  &::after {
    content: "";
    width: 16px;
    height: 16px;
    left: 9px;
    top: 12px;
    border-radius: 50%;
    background-color: #62d1ba;
  }
}

.order-form__box:checked + .order__text--box-round {
  &::after {
    display: block;
  }
}

.order__text--box-round {
  position: relative;
  padding-left: 62px;

  &::before {
    content: "";
    top: -12px;
  }

  &::after {
    content: "";
    width: 22px;
    height: 25px;
    left: 8px;
    top: -7px;
    background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
    background-size: 100%;
  }
}

.order__text--top-padding {
  padding: 33px 0 0;
}

.order__text-light {
  width: 260px;
  height: 52px;
  box-shadow: inset 0 -2px 0 0 black;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 1.06;
  color: rgba(68, 68, 68, 0.3);
  border: none;
}

.order__text-light:hover,
.order__text-light:focus {
  box-shadow: inset 0 -2px 0 0 #62d1ba;
}

.order__text-light:active {
  color: #444444;
}

.order__text-light--form {
  margin-top: 9px;
  margin-bottom: 34px;
}

.order__text-light--add-table {
  width: 256px;
  height: 142px;
  margin: 23px 0 18px;
  box-shadow: none;
  border: solid 2px #444444;
  background-color: white;
  opacity: 1;
}

.order__text-light--add-table:hover,
.order__text-light--add-table:focus {
  border: solid 2px #62d1ba;
  box-shadow: none;
}

.order__text-light--add-table:active {
  color: #444444;
  opacity: 1;
}

.order-form__button {
  margin-top: 31px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 0.94;
  text-align: center;
  color: #444444;
  background-color: white;
}

.order-form__allert {
  padding: 0;
  margin: 0;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.14;
  color: #444444;
}

@media (min-width: @tablet-width) {
  .order {
    padding: 81px 0 11px;
  }

  .order-form__item {
    display: flex;
    padding: 69px 50px;
  }

  .order-form__item:nth-child(2) {
    background-color: #f1f1f1;
    padding-bottom: 14px;
  }

  .order-form__item:nth-child(4) {
    background-color: #f1f1f1;
    flex-direction: column;
    justify-content: space-between;
    height: 130px;
    padding: 50px;
  }

  .order-form__item-head {
    width: 166px;

    &::before {
      display: none;
    }
  }

  .order-form__content--color {
    flex-direction: row;
    justify-content: space-between;
    width: 497px;
    padding: 0;
    flex-wrap: wrap;
  }

  .order__text {
    font-size: 19px;

    &::before {
      width: 46px;
      height: 46px;
    }
  }

  .order__text--radio-round {
    // padding: 0;

    &::before {
      top: -18px;
    }

    &::after {
      width: 20px;
      height: 20px;
      top: -3px;
      left: 12px;
    }
  }

  .order__text--box-round {
    width: 180px;
    padding-bottom: 56px;

    &::before {
      top: -18px;
    }
  }

  .order-form__content--row {
    width: 499px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .order__text--top-padding {
    padding: 0 25px 0 0;
  }

  .order__text--padding {
    padding: 41px 27px 0 0;
  }

  .order__text-light--top-position {
    margin: -17px 0 0 0;
    width: 410px;
    padding: 0;
  }

  .order__text-light--position {
    width: 360px;
    padding: 0;
    margin-top: 24px;
    margin-bottom: 0;
  }

  .order-form__item-contats {
    display: flex;
  }

  .order__text-light--form {
    height: 52px;
    width: 501px;
    margin: 0;
    background-color: #f1f1f1;
  }

  .order-form__item:nth-child(5) {
    padding-bottom: 53px;
  }

  .order__text-light--add-table {
    width: 501px;
    height: 142px;
    margin: 0;
    padding: 17px;
  }

  .order-form__feedback-container {
    padding: 0 50px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .order-form__button {
    margin: 0;
    padding: 0;
  }

  .order-form__allert {
    padding-top: 17px;
  }
}

@media (min-width: @desktop-width) {
  .order-form__item {
    padding: 50px 200px 50px 112px;
  }  

  .order-form__item:nth-child(4) {
    padding: 50px 200px 50px 112px;
  }

  .order-form__content--type {
    padding: 0 0 15px;
  }

  .order__text-light--top-position {
    margin: -17px 0 0 0;
    width: 625px;
  }

  .order__text--top-padding {
    padding: 17px 25px 0 0;
  }

  .order-form__item-head {
    width: 110px;
  }

  .order-form__content--color {
    width: 800px;
  }
  // .order__text-light {
  //   width: 626px;
  // }

  // .order-form__feedback-container {
  //   flex-direction: row-reverse;
  //   width: 700px;
  //   margin-left: auto;
  //   margin-right: auto;
  //   justify-content: space-between;
  // }
}
