.order{
}
.order-form{
  list-style: none;
}
.order-form__item{
}
.order-form__item-head{
  width: 36px;
  height: 12px;
  font-family: OpenSans;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.94;
  letter-spacing: normal;
  text-align: left;
  color: #63d1bb;
}
.order__text{
  font-family: OpenSans;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.06;
  letter-spacing: normal;
  text-align: left;
  color: black;
}
.order__text-light{
  opacity: 0.3;
  font-family: OpenSans;
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.06;
  letter-spacing: normal;
  text-align: left;
  color: rgba(68, 68, 68, 0.3);
}
.order__text-number{
  opacity: 0.3;
  font-family: OpenSans;
  font-size: 19px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.95;
  letter-spacing: normal;
  text-align: left;
  color: rgba(68, 68, 68, 0.3);
}
.handset{
  background-image: url(../../img/photo-hare-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: 0;
}
.envelope{
  background-image: url(../../img/icon-mail.svg);
  background-repeat: no-repeat;
  background-position: 0;
}