.page-header {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: auto;
  z-index: 1000;
  border: 1px solid #ececec;
  background-color: white;
  align-items: center;
}

.page-header__logo {
  padding: 22px 0 18px;
  margin: 0 auto;
  position: relative;
  z-index: 1001;
}

.page-header__logo:hover,
.page-header__logo:focus {
  opacity: 0.6;
}

.page-header__logo:active {
  opacity: 0.3;
}

.page-header__img {
  width: 86px;
  height: 35px;
}

@media (min-width: @tablet-width) {
  .page-header {
    height: 88px;
  }

  .page-header__logo {
    margin: 0;
    padding: 22px 0 20px 49px;
  }

  .page-header__img {
    width: 112px;
    height: 46px;
  }
}

@media (min-width: @desktop-width) {
  .page-header__logo {
    margin: 9px auto;
    padding: 0;
  }

  .page-header__img {
    width: 149px;
    height: 72px;
  }
}
