.page-header__logo {
  padding-left: 116px;
  padding-right: 118px;
  padding-top: 22px;
  padding-bottom: 22px;
  width: 86px;
  height: 35px;
}

.page-header {
  display: flex;
  flex-direction: column;
  height: 79px;
  margin: auto;
}
