.product{
}
.product__value{
  width: 124px;
  height: 17px;
  font-family: OpenSans;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.41;
  letter-spacing: normal;
  text-align: center;
  color: #444444;
}
.product__type{
  width: 133px;
  height: 16px;
  font-family: OpenSans;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.18;
  letter-spacing: normal;
  text-align: left;
  color: #63d1bb;
}
.product__name{
  width: 246px;
  height: 24px;
  font-family: OpenSans;
  font-size: 25px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: black;
}
.product__description{
  width: 249px;
  height: 63px;
  font-family: OpenSans;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: left;
  color: #444444;
}
.product__button{
  width: 90px;
  height: 12px;
  font-family: OpenSans;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.18;
  letter-spacing: normal;
  text-align: center;
  color: #444444;
  text-decoration: none;
}