.product {
  padding-left: 29px;
  margin: 0;
}

.product__value {
  padding-top: 29px;
  padding-left: 67px;
  width: 124px;
  height: 17px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.41;
  letter-spacing: normal;
  text-align: center;
  color: #444444;
  margin: 0;
}

.product__type {
  padding-top: 8px;
  width: 133px;
  height: 16px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.18;
  letter-spacing: normal;
  text-align: left;
  color: #63d1bb;
  margin: 0;
}

.product__name {
  padding-left: 3px;
  padding-top: 32px;
  width: 246px;
  height: 24px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 25px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: black;
  margin: 0;
}

.product__description {
  padding-left: 1px;
  padding-top: 30px;
  width: 249px;
  height: 63px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: left;
  color: #444444;
  margin: 0;
}

.product__button {
  justify-content: center;
  align-items: center;
  margin-left: 0;
  margin-top: 28px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.18;
  letter-spacing: normal;
  text-align: center;
  color: #444444;
  text-decoration: none;
}
