.reviews {
  padding: 61px 0 0 30px;
}

.reviews__head {
  margin: 0;
  padding: 0;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 25px;
  font-weight: bold;
  line-height: 1.2;
  color: black;
}

.reviews__text {
  margin: 0;
  padding: 28px 36px 0 0;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 2;
  color: #444444;
}

.reviews__hero {
  margin: 0;
  padding: 35px 0 0 0;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.41;
  text-align: left;
}

.reviews__social {
  display: block;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 1.76;
  color: #444444;
  text-decoration: none;
}

.reviews-nav {
  display: flex;
  padding: 36px 0 0 0;
}

.reviews__control {
  background-color: white;
  height: 52px;
  border: solid 1px #ececec;
  background-repeat: no-repeat;
  background-position: 39px;
  width: 129px;
}

.reviews__control:hover,
.reviews__control:focus {
  opacity: 0.6;
}

.reviews__control:active {
  opacity: 0.3;
}

.reviews__control--prev {
  background-image: url("../img/icon-left-arrow.svg");
}

.reviews__control--next {
  background-image: url("../img/icon-right-arrow.svg");
}

.reviews__feedback {
  margin: 38px 0 0;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.11;
  text-align: center;
  color: #444444;
}

@media (min-width: @tablet-width) {
  .reviews {
    padding: 75px 52px 122px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background-image: url("../img/review@1x.jpg");
      background-repeat: no-repeat;
      background-position: 0;
      height: 457px;
      width: 350px;
      left: -50px;
      top: 0;
      z-index: -1;
    }

    &::after {
      content: "";
      position: absolute;
      background-image: url("../img/bg-zigzag-line.svg");
      background-repeat: no-repeat;
      background-position: 0;
      width: 771px;
      height: 30px;
      left: -50px;
      bottom: 0;
      z-index: -1;
    }
  }

  .reviews__head {
    font-size: 43px;
  }

  .reviews__text {
    padding: 65px 29px 68px 0;
    font-size: 17px;
  }

  .reviews-nav {
    padding: 0;
  }

  .reviews__hero {
    padding: 0;
  }

  .reviews__hero-controls {
    display: flex;
    justify-content: space-between;
  }

  .reviews__control {
    border: none;
  }

  .reviews__feedback {
    width: 175px;
    height: 52px;
    position: absolute;
    margin: 0;
    right: 52px;
    top: 79px;
  }
}

@media (min-width: @desktop-width) {
  .reviews {
    padding: 80px 52px 169px 225px;

    &::before {
      left: 52px;
      top: 0;
    }

    &::after {
      width: 1150px;
      left: 0px;
      bottom: 0;
      z-index: -1;
    }
  }
}
