.reviews {
  padding: 61px 0 0 30px;
}

.reviews__head {
  margin: 0;
  padding: 0;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 25px;
  font-weight: bold;
  line-height: 1.2;
  color: black;
}

.reviews__text {
  margin: 0;
  padding: 28px 36px 0 0;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 2;
  color: #444444;
}

.reviews__hero {
  margin: 0;
  padding: 35px 0 0 0;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.41;
  text-align: left;
}

.reviews__social {
  display: block;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 1.76;
  color: #444444;
  text-decoration: none;
}

.reviews-nav {
  display: flex;
  padding: 36px 0 0 0;
}

.reviews__control {
  background-color: white;
  height: 52px;
  border: solid 1px #ececec;
  background-repeat: no-repeat;
  background-position: 39px;
  width: 129px;
}

.reviews__control--prev {
  background-image: url("../img/icon-left-arrow.svg");
}

.reviews__control--next {
  background-image: url("../img/icon-right-arrow.svg");
}

.reviews__feedback {
  margin: 38px 0 0;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.11;
  text-align: center;
  color: #444444;
}

@media (min-width: @tablet-width) {
  .reviews__head {
    width: 179px;
    height: 33px;
    font-size: 43px;
    margin-left: 49px;
  }

  .reviews__text {
    width: 642px;
    height: 107px;
    font-size: 17px;
    margin-top: 55px;
    margin-left: 49px;
  }

  .reviews__hero {
    margin-left: 49px;
  }

  .reviews__hero--social {
    margin-left: 49px;
  }

  .reviews-nav {
    margin-left: 500px;
    margin-top: -80px;
  }

  .reviews__control {
    border: none;
  }

  .reviews__feedback {
    margin-top: -300px;
    margin-left: 545px;
    width: 175px;
    height: 52px;
  }
}
