.reviews {
  padding: 55px 0 0 29px;
}

.reviews__head {
  margin: 0;
  padding: 0;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 25px;
  font-weight: bold;
  line-height: 1.2;
  color: black;
}

.reviews__text {
  margin: 0;
  padding: 23px 34px 0 0;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 2;
  color: #444444;
}

.reviews__hero {
  margin: 0;
  padding: 27px 0 5px 0;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.41;
  text-align: left;
}

.reviews__social {
  display: block;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 1.76;
  color: #444444;
  text-decoration: none;
}

.reviews-nav {
  display: flex;
  padding: 30px 0 0 0;
}

.reviews-nav__btn {
  background-color: white;
  height: 52px;
  border: solid 1px #ececec;
  background-repeat: no-repeat;
  background-position: 39px;
  width: 130px;
}

.reviews-nav__btn:hover,
.reviews-nav__btn:focus {
  opacity: 0.6;
}

.reviews-nav__btn:active {
  opacity: 0.3;
}

.reviews-nav__btn--prev {
  background-image: url("../img/icon-left-arrow.svg");
}

.reviews-nav__btn--next {
  background-image: url("../img/icon-right-arrow.svg");
}

.reviews__feedback {
  margin: 38px 0 0;
  width: 256px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.11;
  text-align: center;
  color: #444444;
}

.reviews__photo {
  display: none;
}

@media (min-width: @tablet-width) {
  .reviews {
    padding: 75px 47px 0;
    position: relative;
  }

  .reviews__photo {
    display: block;
    position: absolute;
    height: 457px;
    width: 350px;
    left: 0;
    top: 0;
    z-index: -1;
  }

  .reviews__head {
    font-size: 43px;
  }

  .reviews__social {
    padding: 0 0 0 2px;
  }

  .reviews__text {
    padding: 50px 28px 31px 3px;
    font-size: 17px;
    line-height: 1.77;
  }

  .reviews-nav {
    padding: 0;
    margin: 30px 19px 0 0;
  }

  .reviews__hero {
    padding-left: 3px;
    letter-spacing: 0.7px;
  }

  .reviews__hero-controls {
    display: flex;
    justify-content: space-between;
    padding-bottom: 70px;
  }

  .reviews__control {
    border: none;
    width: 90px;
  }

  .reviews__feedback {
    width: 169px;
    height: 48px;
    position: absolute;
    margin: 0;
    right: 52px;
    top: 79px;
  }
}

@media (min-width: @desktop-width) {
  .reviews {
    padding: 61px 52px 0 220px;

    &::before {
      left: 52px;
      top: -7px;
    }

    &::after {
      width: 1150px;
      left: 0;
      bottom: 0;
      z-index: -1;
    }
  }

  .reviews__head {
    font-size: 53px;
  }

  .reviews__text {
    padding: 47px 103px 13px 5px;
    font-size: 17px;
    line-height: 1.76;
  }

  .reviews__hero {
    padding-left: 5px;
    letter-spacing: 0.1px;
  }

  .reviews__social {
    padding-left: 5px;
  }

  .reviews-nav {
    padding: 0;
    margin-right: 15px;
  }

  .reviews__photo {
    left: 52px;
    top: 0;
  }

  .reviews__control {
    border: none;
    width: 90px;
  }

  .reviews__feedback {
    top: 70px;
  }
}
