.settings {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 1.33;
  color: #444444;
  margin: 0;
}

.settings__item {
  display: flex;
  height: 30px;
  border-bottom: 1px solid #ececec;
  list-style: none;
  padding: 9px 20px 0 0;
}

.settings__item-spec {
  padding-left: 2px;
}

.settings__item-width {
  display: block;
  width: 67px;
}

.settings__item-allignment {
  display: block;
  margin-left: 27px;
}

@media (min-width: @tablet-width) {
  .settings__item:nth-child(2) {
    margin-bottom: 5px;
    padding-top: 10px;
  }

  .settings__item--spec {
    padding-left: 3px;
  }

  .settings__item--top {
    padding-top: 2px;
  }
}
