.settings {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 1.33;
  color: #444444;
  margin: 0;
}

.settings__item {
  display: flex;
  // height: 39px;
  border-bottom: 1px solid #ececec;
  list-style: none;
  padding: 5px 20px 0 0;
  height: 30px;
}

.settings__item-width {
  display: block;
  width: 67px;
}

.settings__item-allignment {
  display: block;
  margin-left: 31px;
}
