.site-list {
  // display: none;
}

.site-list__item:nth-child(1) {
  padding: 32px 94px 30px 75px;
}

.site-list__item:nth-child(2) {
  padding: 32px 86px 33px 75px;
}

.site-list__item:nth-child(3) {
  padding: 31px 106px 30px 75px;
}

.site-list__item:nth-child(4) {
  padding: 32px 60px 30px 75px;
}

.site-list__item {
  margin-top: -1px;
  border: 1px solid #ececec;
}

.site-list__item:hover {
  position: relative;
}

.site-list__item-link{
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.41;
  text-decoration: none;
  color: black;
}


.site-list__item--search {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url("../img/icon-search.svg");
    background-position: 0;
    background-repeat: no-repeat;
    width: 21px;
    height: 21px;
  }
}

.site-list__item--basket {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url("../img/icon-cart.svg");
    background-position: 0;
    background-repeat: no-repeat;
    width: 21px;
    height: 21px;
  }
}

.site-link {
  display: none;
}

.site-text {
  display: none;
}

@media (min-width: @tablet-width) {
  .site-list {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
  }

  .site-list__item:nth-child(1) {
    padding: 0;
    border: none;
  }
  
  .site-list__item:nth-child(2) {
    padding: 0 15px 0 37px;
    border: none;
  }

  .site-list__item:nth-child(3) {
    padding: 0;
    width: 81px;
    margin-top: -88px;
  }
  
  .site-list__item:nth-child(4) {
    padding: 35px 50px 35px 83px;
    margin-top: -88px;
  }

  .site-list__item {
    padding: 25px 0 0 0;
    margin: 0;
  }

  .site-list__item-text {
    display: block;
  }

  .site-list__item-link {
    font-family: "OpenSans", "Arial", sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.6;
    text-align: left;
    color: black;
  }

  .site-text {
    display: block;
    margin: -25px 50px 0 auto;
    font-family: "OpenSans", "Arial", sans-serif;
    font-size: 15px;
    line-height: 1.6;
    text-align: right;
    color: #444444;
  }

  .site-basket {
    margin-left: 83px;
    margin-top: 36px;
    width: 181px;
    height: 17px;
    font-family: "OpenSans", "Arial", sans-serif;
    font-size: 17px;
    font-weight: bold;
    line-height: 1.41;
    text-align: right;
    color: black;
  }

  .site-list__item--link {
    height: 15px;
    width: 137px;
  }

  .site-list__item--search {
    margin-top: -95px;
    width: 82px;
    height: 88px;
    border: 1px solid #444444;
  }

  .site-list__item--basket {
    margin-top: -95px;
    width: 314px;
    height: 88px;
    border: 1px solid #444444;
  }

  .site-link {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .site-link {
    display: block;
  }

  .site-list__item-event {
    display: flex;
  }

  .site-list__item--search {
    width: 82px;
    margin-top: 0;
    border: 1px solid #444444;
  }

  .site-list__item--basket {
    margin-top: 0;
    width: 314px;
    border: 1px solid #444444;
  }

  .site-text {
    margin-top: 0;
  }
}
