.site-list {
  display: none;
}

.site-link {
  display: none;
}

.site-list__item {
  color: #444444;
}

.site-list__item-text {
  display: none;
}

@media (min-width: @tablet-width) {
  .site-list {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
  }

  .site-list__item {
    margin: 0;
  }

  .site-list__item-text {
    display: block;
  }

  .site-list__item-link {
    font-family: "OpenSans", "Arial", sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.6;
    text-align: left;
    color: black;
  }

  .site-text {
    margin-left: auto;
    margin-top: -30px;
    margin-right: 50px;
    width: 250px;
    height: 14px;
    font-family: "OpenSans", "Arial", sans-serif;
    font-size: 15px;
    line-height: 1.6;
    text-align: right;
    color: #444444;
  }

  .site-basket {
    margin-left: 83px;
    margin-top: 36px;
    width: 181px;
    height: 17px;
    font-family: "OpenSans", "Arial", sans-serif;
    font-size: 17px;
    font-weight: bold;
    line-height: 1.41;
    text-align: right;
    color: black;
  }

  .site-list__item--link {
    height: 15px;
    width: 137px;
  }

  .site-list__item--search {
    margin-top: -95px;
    width: 82px;
    height: 88px;
    border: 1px solid #444444;
  }

  .site-list__item--basket {
    margin-top: -95px;
    width: 314px;
    height: 88px;
    border: 1px solid #444444;
  }

  .site-link {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .site-link {
    display: block;
  }

  .site-list__item-event {
    display: flex;
  }

  .site-list__item--search {
    width: 82px;
    margin-top: 0;
    border: 1px solid #444444;
  }

  .site-list__item--basket {
    margin-top: 0;
    width: 314px;
    border: 1px solid #444444;
  }

  .site-text {
    margin-top: 0;
  }
}
