.tech-proc{
}
.tech-proc__button{
  font-family: 'OpenSans', Arial, sans-serif;;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.94;
  letter-spacing: normal;
  text-align: center;
  color: #444444;
}
.tech-proc__head{
  font-family: 'OpenSans', Arial, sans-serif;;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.41;
  letter-spacing: normal;
  text-align: left;
  color: black;
}
.tech-proc__text{
  font-family: 'OpenSans', Arial, sans-serif;;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.41;
  letter-spacing: normal;
  text-align: left;
  color: black;
}
.camera{
  background-image: url(../img/icon-video.svg);
  background-repeat: no-repeat;
  background-position: 0;
}
